.topBar
{
    position: sticky;
    top:0;
    left:0;
    right: 0;
    width:100%;
    background-color: #010B40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .5rem;
    height: 8svh;
    z-index: 10;
    min-height: 3rem;
}
.logo
{
    max-height: 90%;
    max-width: 6rem;
    cursor: pointer;
    transition: transform .3s ease;
}
.logo::selection
{
    background:none;
}
.logo:hover
{
    transform: scale(1.05);
}
.search
{
    width:50%;
    height: 95%;
    max-height: 3rem;
    position: relative;
    cursor: pointer;
}
.searchInput
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    border:0;
    outline: none;
    color: white;
    background: none;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    padding: 0 4rem;
}
.searchInput::placeholder
{
    font-family: "Permanent Marker";
    font-weight: 400;
}
.bottomBorder
{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    height: .2rem;
    width: 100%;
    background-color: grey;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.bottomBorderFill
{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform .5s ease;
    background:radial-gradient(#891FA6,#C935F2);
}
.bottomBorderFilled
{
    transform: scaleX(1);
}
.searchMenu
{
    position: absolute;
    top:0;
    bottom: 0;
    right: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.4rem;
    padding-bottom: .2rem;
}
.cancelContainer
{
    width:.8rem;
    height: .8rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cancelContainer>svg
{
    fill: grey;
    transition: fill .2s ease;
}
.cancelContainer:hover>svg
{
    fill: red;
}
.line
{
    width: .15rem;
    height: 70%;
    background-color: grey;
    border-radius: 10px;
}
.searchIconContainer
{
    width:1.4rem;
    padding: .22rem;
    border-radius: 50%;
    height: 1.4rem;
    background: grey;
    cursor: pointer;
    transition: background .3s ease;
}
.searchIconContainer:hover
{
    background: #C935F2;
}
.searchIconContainer>svg
{
    fill: white;
}
.rightMenu::selection
{
    background: none;
}
.rightMenu
{
    display: flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
}
.bellContainer
{
    width:1.5rem;
    height: 1.5rem;
    cursor: pointer;
    position: relative;
}
.bellContainer>svg
{
    fill: grey;
}
.bellContainer:hover>svg
{
    fill: white;
}
.profileContainer
{
    position: relative;
    z-index: 11;

}
.profileContainer:hover>.listContainer
{
    display: flex;
}
.profileImg
{
    width:2rem;
    height: 2rem;
    border-radius: 50%;
    border:.18rem solid #891FA6;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    transition: border .3s ease;
}
.profileImg:hover
{
    border:.18rem solid #C935F2;
}
.profileImg>img
{
    width:100%;
    height: 100%;
}
.loadingSVG
{
    width:70% !important;
    height:70% !important;
}
.listContainer
{
    position: absolute;
    top:100%;
    right:-.5rem;
    display: none;
    justify-content: center;
    align-items: center;
    padding-top: .8rem;
    max-width: 20rem;
    z-index: 11;
}
.profileListContainer
{
    background:#010B40;
    border:.27rem solid #891FA6;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:.5rem;
    width: 100%;

}
.userImage
{
    width:4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    border:.25rem solid #891FA6;
}
.userImage>img
{
    width:100%;
    height: 100%;
}
.username
{
    font-weight: 700;
    width:100%;
    text-align: center;
    font-size: 1.5rem;
     font-family: "Archivo Black", sans-serif;
     letter-spacing: .05rem;
    margin-bottom: .5rem;
}
.profileListContainer>ul
{
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    display: flex;
}
.profileListContainer>ul>li
{
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(162, 162, 162);
    transition: color .3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.5rem;
    margin: .1rem 0;
    text-align: center;
}
.profileListContainer>ul>li:hover
{
     color: rgb(255, 255, 255);
}
.profileListContainer>ul>li>svg
{
    transition: fill .3s ease;
}
.profileListContainer>ul>li:hover>svg
{
    fill:white;
}
.triangle
{
    position: absolute;
    top:-.9rem;
    right:.65rem;
    width: 0; 
    height: 0; 
    border-left: .6rem solid transparent;
    border-right: .6rem solid transparent;
    border-bottom: .8rem solid #891FA6;
}
.triangle2
{
    position: absolute;
    top:-.9rem;
    right:2.9rem;
    width: 0; 
    height: 0; 
    border-left: .6rem solid transparent;
    border-right: .6rem solid transparent;
    border-bottom: .8rem solid #891FA6;
}
.liLogout
{
   
    width:100%;
    padding:.2rem .5rem;
    border-radius: 1rem;
    border:.25rem solid rgb(197, 0, 0);
    background: rgb(89, 0, 0);
    color: white !important;
    text-wrap: nowrap;
    transition: background .3s ease !important;
}
.liLogout:hover
{
    background: rgb(137, 0, 0);
}
.liLogout>svg
{
    fill: none !important;
}
.notificationsContainer
{
    position: absolute;
    top:1.5rem;
    right: -3rem;
    width: 15rem;
    height: 20rem;
    display: none;
}
.notificationsContainerDisplay
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: .8rem;
    cursor: default;
}
.notifications
{
    background:#010B40;
    border:.27rem solid #891FA6;
    padding: 1rem 0;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.notificationLoadingContainer
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notificationLoading
{
    width:3rem;
    height: 3rem;
}
.noneNotification
{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.8rem;
    flex-direction: column;
}
.noneUsersSVG
{
    width:3rem !important;
    height: 3rem !important;
}
.noneNotificationHeader
{
    font-size: 1rem;
    color: grey;
    font-weight: 700;
    width: 100%;
    text-align: center;
}
.notificationsContent
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.notificationsContent::-webkit-scrollbar
{
    width: .2rem;
    height: 0;
}
.notificationsContent::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #C935F2;
}
.notificationsContent::-webkit-scrollbar-button
{
    height: .5rem;
}
.notificationItem
{
    width:100%;
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
    grid-template-columns: 3rem 1fr 2rem;
    gap:.5rem .3rem;
    padding: .6rem .5rem;
    cursor: pointer;
}
.notificationItem:hover
{
    background-color: #111e5c;

}
.userImgContainer
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userImg
{
   
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border:.2rem solid #891FA6;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userImg>img
{
    width: 100%;
    height: 100%;
}
.notificationContent
{
    font-size: .6rem;
    color: grey;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date
{
    font-size: .5rem;
    color: grey;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newNotify
{
    position: absolute;
    bottom: .1rem;
    right: 0rem;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: red;
}
.unSeen
{
    color: white;
}
.menu
{
    width: 4rem;
    height:4rem;
    display: none;
    justify-content: center ;
    align-items: center;
}
.menu>svg
{
    width: 100%;
    height: 100%;
    fill: grey;
    transition: fill .3s ease;
}
.icon
{
    width: 1.2rem;
    height: 1.2rem;
}
.logoutIcon
{
    width: 1.8rem;
    height: 1.8rem;
}
.responsiveMenu
{
    position: fixed;
    top:8svh;
    left:0;
    bottom: 0;
    right: 0;
    background-color: #010326ca;
    backdrop-filter: blur(5px);
    transform: translate(-120%,0);
    z-index: 3;
    display: none;
    transition: transform .3s ease-out;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 3rem;
    align-items: center;
    box-shadow: 0 3.5rem 2rem 3rem #010326ca;
}
.cancel
{
    width: 50% !important;
    height: 50% !important;
}
.responsiveSearch
{
    width: 100%;
    position: relative;
}
.responsiveSearchBar
{
    width: 100%;
    outline: none;
    font-size: 2.5rem;
    border: 0;
    background: none;
    text-align: center;
    padding: 1.3rem 5rem 1.8rem 3rem;
    color: white;
    font-weight: 700;
}
.responsiveSearchBorder
{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    height: .5rem;
    border-radius: 10px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.responsiveSearchIcon
{
    position: absolute;
    top:50%;
    right: .5rem;
    width: 3rem;
    height: 3rem;
    translate: 0 -50%;
    background-color: #891FA6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 0;
}
.responsiveSearchIconSVG
{
    width: 70%;
    height: 70%;
    fill: white;
    padding-right: .1rem;
}
.responsiveSearchBorderFill
{
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    background-color: #C935F2;
    border-radius: 10px;
    transition: transform .3s ease;
}
.responsiveSearchBorderFilled
{
    transform: scaleX(1);
}
.responsiveProfile
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}
.responsiveUserImgContainer
{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border:.5rem solid #891FA6;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.responsiveUserImgContainer>img
{
    width: 100%;
    height: 100%;
}
.responsiveUsername
{
    font-size: 3.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
.responsiveList
{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:3rem;
    align-items: center;
}
.responsiveList>li
{
    display: flex;
    align-items: center;
    gap:1.5rem;
    font-size: 3rem;
    color: rgb(170, 170, 170);
    font-weight: 700;
}
.icon2
{
    width: 3rem;
    height: 3rem;
    fill: rgb(170, 170, 170);
}
.logoutIcon2
{
    width: 4rem;
    height: 4rem;
}
.responsiveLogout
{
    background-color: rgb(134, 7, 7);
    padding: 1rem 1.2rem;
    border-radius: 1.5rem;
    border:.5rem solid rgb(215, 3, 3);
    color: white !important;
    font-size: 3.5rem !important;
    gap:.8rem !important;
}
@media (max-width:425px){
    .topBar
    {
            padding: .5rem 1rem .5rem .5rem;
    }
    .menu
    {
        display: flex;
    }
    .search
    {
        display: none;
    }
    .logo
    {
        max-width: max-content;
        max-height: 80%;
    }
    .logo:hover
    {
        transform: scale(1);
    }
    .rightMenu
    {
        gap:1.5rem;
    }
    .bellContainer
    {
        width: 2.5rem;
        height: 2.5rem;
    }
    .profileImg
    {
        width: 3rem;
        height: 3rem;
        border:.3rem solid #891FA6;
    }
    .profileImg:hover
    {
             border:.3rem solid #891FA6;
    }
    .profileListContainer
    {
        gap:1.8rem;
            padding: 2.5rem 2.5rem;
            border:.5rem solid #891FA6;
            border-radius: 1.5rem;
    }
    .listContainer
    {
        max-width: 50rem;
        padding-top: 1.5rem;
        right: -0.3rem;
    }
    .userImage
    {
        width: 10rem;
        height: 10rem;
        border:.4rem solid #891FA6;
    }
    .username
    {
        font-size: 2.5rem;
    }
    .profileListContainer>ul>li
    {
        font-size: 2.5rem;
        gap:1.5rem;
    }
    .icon
    {
        width: 2.2rem;
        height: 2.2rem;
    }
    .logoutIcon
    {
        width: 2.5rem;
        height: 2.5rem;
    }
    .liLogout
    {
        padding:.8rem 1rem;
        font-size: 2.5rem;
        border-radius: 1.5rem;
            border:.4rem solid rgb(197, 0, 0);
    }
    .liLogout:hover
    {
        background: rgb(89, 0, 0);
    }
    .profileListContainer>ul
    {
        gap:1.8rem;
    }
    .triangle
    {
         border-left: 1.3rem solid transparent;
        border-right: 1.3rem solid transparent;
        border-bottom: 1.5rem solid #891FA6;
        top:-1.6rem;
        right: .1rem;
    }
    .newNotify
    {
        width: 1rem;
        height: 1rem;
    }
    .bellContainer:hover>svg
    {
        fill: grey;
    }
    .notificationsContainer
    {
        width: 30rem;
        right: -4rem;
        height: 50vh;
        z-index: 20;
    }
    .notificationsContainerDisplay
    {
        padding-top:3rem;
    }
    .noneNotification
    {
        gap:1rem;
    }
    .noneUsersSVG
    {
        width: 5rem !important;
        height: 5rem !important;
    }
    .noneNotificationHeader
    {
        font-size: 1.5rem;
    }
    .notifications
    {
        border:.5rem solid #891FA6;
        border-radius: 1.5rem;
    }
    .triangle2
    {
        border-left: 1.3rem solid transparent;
        border-right: 1.3rem solid transparent;
        border-bottom: 1.5rem solid #891FA6;
        right: 3.5rem;
        top:-1.8rem;
    }
    .notificationItem
    {
        grid-template-columns: 4rem 1fr 4rem;
        padding: 1.5rem 1.5rem;
        gap:.5rem 1rem;
    }
    .userImg
    {
        width: 3.5rem;
        height: 3.5rem;
        border:.3rem solid #891FA6;
    }
    .notificationContent
    {
        font-size: 1.2rem;
    }
    .date
    {
        font-size: 1rem;
    }
    .responsiveMenu
    {
        display: flex;
    }
    .responsiveMenuDisplay
    {
        transform: translate(0,0);
    }
}