.topBar
{
    position: sticky;
    top:0;
    left:0;
    right: 0;
    width:100%;
    background-color: #010B40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .5rem;
}
.logo
{
    height: 2rem;
}
.search
{
    width:40vw;
    height: 2rem;
    position: relative;
    cursor: pointer;
}
.searchInput
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    border:0;
    outline: none;
    color: white;
    background: none;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    padding: 0 4rem;
}
.searchInput::placeholder
{
    font-family: "Permanent Marker";
    font-weight: 400;
}
.bottomBorder
{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    height: .2rem;
    width: 100%;
    background-color: grey;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.bottomBorderFill
{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform .5s ease;
    background:radial-gradient(#891FA6,#C935F2);
}
.bottomBorderFilled
{
    transform: scaleX(1);
}
.searchMenu
{
    position: absolute;
    top:0;
    bottom: 0;
    right: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.4rem;
    padding-bottom: .2rem;
}
.cancelContainer
{
    width:.8rem;
    height: .8rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cancelContainer>svg
{
    fill: grey;
    transition: fill .2s ease;
}
.cancelContainer:hover>svg
{
    fill: red;
}
.line
{
    width: .15rem;
    height: 70%;
    background-color: grey;
    border-radius: 10px;
}
.searchIconContainer
{
    width:1.4rem;
    padding: .22rem;
    border-radius: 50%;
    height: 1.4rem;
    background: grey;
    cursor: pointer;
    transition: background .3s ease;
}
.searchIconContainer:hover
{
    background: #C935F2;
}
.searchIconContainer>svg
{
    fill: white;
}
.rightMenu
{
    display: flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
}
.bellContainer
{
    width:1.5rem;
    height: 1.5rem;
    cursor: pointer;
}
.bellContainer>svg
{
    fill: grey;
}
.bellContainer:hover>svg
{
    fill: white;
}
.profileContainer
{
    position: relative;
}
.profileContainer:hover>.listContainer
{
    display: flex;
}
.profileImg
{
    width:2rem;
    height: 2rem;
    border-radius: 50%;
    border:.18rem solid #891FA6;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    transition: border .3s ease;
}
.profileImg:hover
{
    border:.18rem solid #C935F2;
}
.profileImg>img
{
    width:100%;
    height: 100%;
}
.loadingSVG
{
    width:70% !important;
    height:70% !important;
}
.listContainer
{
    position: absolute;
    top:100%;
    right:-.5rem;
    display: none;
    justify-content: center;
    align-items: center;
    padding-top: .8rem;
    width: 20vw;
}
.profileListContainer
{
    background:#010B40;
    border:.27rem solid #891FA6;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:.5rem;
    width: 100%;
}
.userImage
{
    width:4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    border:.25rem solid #891FA6;
}
.userImage>img
{
    width:100%;
    height: 100%;
}
.username
{
    font-weight: 700;
    width:100%;
    text-align: center;
    font-size: 1.5rem;
     font-family: "Archivo Black", sans-serif;
     letter-spacing: .05rem;
    margin-bottom: .5rem;
}
.profileListContainer>ul
{
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    display: flex;
}
.profileListContainer>ul>li
{
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(162, 162, 162);
    transition: color .3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.5rem;
    margin: .1rem 0;
    text-align: center;
}
.profileListContainer>ul>li:hover
{
     color: rgb(255, 255, 255);
}
.profileListContainer>ul>li>svg
{
    transition: fill .3s ease;
}
.profileListContainer>ul>li:hover>svg
{
    fill:white;
}
.triangle
{
    position: absolute;
    top:-.9rem;
    right:.65rem;
    width: 0; 
    height: 0; 
    border-left: .6rem solid transparent;
    border-right: .6rem solid transparent;
    border-bottom: .8rem solid #891FA6;
}
.liLogout
{
   
    width:100%;
    padding:.2rem .5rem;
    border-radius: 1rem;
    border:.25rem solid rgb(197, 0, 0);
    background: rgb(89, 0, 0);
    color: white !important;
    transition: background .3s ease !important;
}
.liLogout:hover
{
    background: rgb(137, 0, 0);
}
.liLogout>svg
{
    fill: none !important;
}
