.main
{
    width:100%;
    height: 92vh;
    background:linear-gradient(45deg,#891FA6,#010B40);
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap:1rem;
    padding: 1rem 1rem;
}
.article
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    height: 100%;
    width:100%;
}
.articleHeader
{
    width:100%;
    text-align: center;
    font-size: 1.8rem;
    font-family: "Archivo Black", sans-serif;
}
.people
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap:1rem;
    align-items: center;
}
.myChatsLoadingSVG
{
    width:4rem;
    height: 4rem;
}
.chats
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap:0 2rem;
    align-items: center;
    flex-wrap: wrap;
}
.showAllChats
{
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    color: grey;
    cursor: pointer;
    text-decoration: none;
    transition: color .3s ease;
    font-family: "Permanent Marker";
}
.showAllChats:hover
{
    color: #C935F2;
}
.chatElement
{
    display: grid;
    grid-template-columns: 4rem 1fr 2.5rem;
    grid-template-rows: auto auto;
    gap:.3rem .5rem;
    justify-items: center;
    align-items: center;
    padding: .8rem .8rem;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: background .3s ease;
    max-width: 28vw;
}
.chatElement:hover
{
    background: #010B40;
}
.chatElementImgContainer
{
    grid-column: 1/2;
    grid-row: 1/3;
    width:4rem;
    height: 4rem;
    border-radius: 50%;
    border: .25rem solid #891FA6;
    overflow: hidden;
}
.chatElementImgContainer>img
{
    width:100%;
    height: 100%;
}
.chatElementImgContainer>img::selection
{
    background: none;
}
.chatElementUsername
{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: flex-end;
}
.chatElementMessage
{
    grid-row: 2/3;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    max-width: 17vw;
    min-width: 10vw;
    font-size: 1rem;
     display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(148, 148, 148);
}
.chatElementUnSeenYet
{
    color: white;
}
.date
{
    grid-column: 3/4;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    color: gray;
    font-weight: 700;
}
.newMessage
{
    width:.8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: #C935F2;
}
.loadingItem
{
    grid-column: 4/5;
    width:4rem;
    height: 4rem;
}
.friendsItem
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100%;
    gap:.8rem;
    cursor: pointer;
}
.friendsItem:hover>.imageContainer
{
    border:.3rem solid #C935F2;
}
.friendsItem:hover>.userHeader
{
    color: white;
}
.imageContainer
{
    width:7rem;
    height: 7rem;
    border:.3rem solid #891FA6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border .3s ease;    
    position: relative;
}
.userHeader
{
    font-size: 2rem;
    width:100%;
    text-align: center;
    color: rgb(188, 188, 188);
    transition: color .3s ease;
}
.imageContainer>img
{
    width:100%;
    height: 100%;
    border-radius: 50%;
}
.imageContainer>img::selection
{
    background:none;
}
.loadingSVG
{
    width:70%;
    height: 70%;
}
.arrow
{
    width:3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.arrow>svg
{
    transition: fill .3s ease;
}
.arrow:hover>svg
{
    fill: #C935F2;
}
.arrowLeftSVG
{
    width:3rem;
    height: 3rem;
    fill: rgb(255, 255, 255);
}
.arrowRightSVG
{
    width: 3rem;
    height: 3rem;
    fill: white;
    rotate: 180deg;
}
.arrowDisabled
{
    fill: grey !important;
}
.plus
{
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    width:2rem;
    height: 2rem;
    background-color: #010B40;
    border-radius: 50%;
    border: .2rem solid #C935F2;
    opacity: 0;
    transition: opacity .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plusDisplay
{
    opacity: 1;
}
.noneUsers
{
    grid-column: 1/8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1.5rem;
}
.noneUsers>h2
{
    font-size: 1.5rem;
    color: grey;
}