*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html
{
  font-size: calc(0.9vw + 0.8vh);
  color: white;
    /* font-family: "Archivo Black", sans-serif; */
     font-family: "Ubuntu", sans-serif;
     /* font-family: "Permanent Marker"; */
      /* font-family: "Merriweather Sans", sans-serif; */
}
body
{
  min-height: 100vh;
  background:#010326;
}